{{# each products}}
	<div class="row">
	{{# each this}}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{this.imagePath}}" alt="Happy fish" class="img-reponsive">
      <div class="caption">
        <h3>{{this.title}}</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor, orci et pharetra tristique, nunc nibh faucibus ipsum, a rhoncus lorem tortor quis nulla. Aenean scelerisque nunc in nunc interdum, sed convallis sapien pretium. Suspendisse potenti. Proin tristique leo eget nisi efficitur, vitae mattis sapien interdum. Morbi hendrerit, augue non iaculis pharetra, dolor diam auctor tortor, et faucibus ante leo ut turpis. Maecenas non mi a leo pulvinar commodo commodo eu enim</p>
        <div class="clearfix">
			<div class="price pull-left">{{this.price}}</div>
			<a href="#" class="btn btn-success pull-right" role="button">Add to Shopping Cart</a>
		</div>
      </div>
    </div>
  </div>
  
  {{/each}}
</div>
{{/each}}

